.App {
  text-align: center;
}

.App .post img {
  width: 100%;
  height: auto;
  transition: all 400ms;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.share-menu {
  margin-top: 15px;
  position: absolute;
  left: 40%;
  right: 40%;
}
.grow {
  transition: all 0.2s ease-in-out;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.grow:hover {
  transform: scale(1.1);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
