.App {
  text-align: center;
}

.App .post img {
  width: 100%;
  height: auto;
  transition: all 400ms;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.share-menu {
  margin-top: 15px;
  position: absolute;
  left: 40%;
  right: 40%;
}
.grow {
  transition: all 0.2s ease-in-out;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.grow:hover {
  transform: scale(1.1);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.code {
  text-align: initial !important;
}

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  right: 0;
  margin-top: 304px;
}

.footer,
.page-wrap:after {
  height: auto;
}

.top-conversions {
  font-size: 0.5rem;
  text-align: left;
}
